<div align="center">
<h1>Welcome to Drew's Realtory</h1>
<a href="/listings">Find local Listings</a>
<a href="/listings/new">add new listing </a>
</br>
  <%= image_tag("drew.jpg", :alt => "Drew")%>

</div>
