<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>
<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>
<a href="/">Return to home </a>
<a href="/listings">show all listings </a>
